<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredericka+the+Great&family=Josefin+Slab&family=Montserrat:wght@300;400;500;700;800&family=Pacifico&family=Sacramento&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7abb6830cb.js" crossorigin="anonymous"></script>
    <title>To Do List</title>
</head>
<body>
    <section class="first-section " id="title">
        <div class="container-fluid">
        <h1 class="heading">To do list </h1>
        <h2 id="day"> </h2>
        <!-- <form action="/work" method="post"> -->
            <input  class="input" id="inpt" placeholder=" what are you up to today?"type="text" name="Add tasks"  >
            <button type="submit" id="bttn" class="btn btn-outline-light btn-lg button " > add</button>
            
        <!-- </form> -->
        
    </div>
</section>
<section class="list ">
    <div class="element-list">
        <ol id="ulist" class="ordList list-group">

        </ol>
    </div>
</section>
<script src="index.js"></script>



</body>
</html>